
.cardContainer{
    padding: 15px;
    height: 150px;
    margin: 15px;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temperature{
    font-size: 56px;
}

.city{
    font-size: 36px;
    align-self: end;
}

.description{
    font-size: 24px;
}